DEV_ALPHA=bravo!
DEV_DISPLAY=true
DATABASE_URL=postgresql://postgres:postgres@localhost:2232/postgres
OPENROUTER_API_KEY=sk...
VERCEL_AI_GATEWAY_KEY=vck_...
WORKOS_API_KEY=sk_...
WORKOS_CLIENT_ID=client_...
